<div class="assistant-headings">
  <h1 class="boxword">You can make</h1>
</div>
<%# each cocktail display a card to click on %>
<div class="ready-grid">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
      <div class="ready-card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path(cocktail.photo.key) %>');">
        <p id="ready-card-name"><%= cocktail.name.downcase %></p>
      </div>
    <% end %>
  <% end %>
</div>
