<h1 class="tip-page-title">mixology tips</h1>

<div class="container">

  <a href="https://advancedmixology.com/blogs/art-of-mixology/how-to-use-a-cocktail-strainer" class="tips-card">
    <img src="https://res.cloudinary.com/itnb-sarl/image/upload/v1663065728/production/cocktail_strainer_zw0icw.jpg" alt="">
    <h3>How to use a cocktail strainer</h3>
  </a>

    <a href="https://advancedmixology.com/blogs/art-of-mixology/learn-cocktail-recipes" class="tips-card">
    <img src="https://cdn.shopify.com/s/files/1/1216/2612/files/barman_preparing_3_different_cocktails.jpg?v=1612429078" alt="">
    <h3>6 easy ways to learn cocktail recipes in a jiffy</h3>
  </a>

    <a href="https://advancedmixology.com/blogs/art-of-mixology/how-to-make-viking-mead" class="tips-card">
    <img src="https://cdn.shopify.com/s/files/1/1216/2612/files/portrait_of_a_viking_warrior_drinking_mead_from_horn.jpg?v=1612789284" alt="">
    <h3>How to brew your mead like a viking: 3 bold recipe variants</h3>

  <a href="https://advancedmixology.com/blogs/art-of-mixology/home-bartending-101-make-better-drinks-at-home" style="margin-bottom: 50px;" class="tips-card">
    <img src="https://cdn.shopify.com/s/files/1/1216/2612/files/image_home.jpg?v=1535547061" alt="">
    <h3>Tools and equipment for home bartending</h3>
  </a>
  </a>
</div>
