<div class="wrapper">
  <div id="content-goes-here"> <!-- the id here is just to remind you -->
  </nav>
  </div>
  <div id="footer-goes-here"> <!-- the id here is just to remind you -->
    <nav>
    <ul>
      <li><a href="#"><i class="fa-solid fa-house-chimney"></i></a></li>
      <li><a href="#"><i class="fa-solid fa-martini-glass"></i></a></li>
      <li><a href="#"><i class="fa-solid fa-lemon"></i></a></li>
      <li><a href="#"><i class="fa-solid fa-user-tie"></i></a></li>
    </ul>
  </div>
</div>
