<div class="contianer">
  <!-- Our top buttons to filter spirits or ingredients -->
  <div class="index-grid">
    <div>
      <h1 class="boxword">spirits</h1>
    </div>
    <div>
      <h1 class="boxword-clear">ingredients</h1>
    </div>
  </div>

  <!-- search bar goes here -->
  <div>
    <p>SEARCH BAR</p>
  </div>

  <p class="home-page-h2">Base Spirits</p>
  <div class="spirit-grid">
    <!-- Our spirits cards that will be displayed in a grid -->
    <%@spirits.each do |spirit| %>
      <!-- these cards will have the background image we chose with the text centered -->
      <div class="spirit-cards">
        <div><%= spirit %></div>
      </div>
    <% end %>
  </div>
</div>
