<div class="contianer">
  <!-- Our top buttons to filter spirits or ingredients -->
  <div class="index-grid">
    <div>
      <h1 class="boxword">spirits</h1>
    </div>
    <div>
      <h1 class="boxword-clear">ingredients</h1>
    </div>
  </div>

  <!-- search bar will go here -->
  <div>
    <p>SEARCH BAR</p>
  </div>

  <p>Ingredients</p>
  <!-- Our flex container to hold our cards side by side -->
  <div class="card-container">
    <!-- Our spirits cards that will be displayed in a grid -->
    <%@ingredients.each do |ingredient| %>
      <!-- these cards will have the background image we chose with the text centered -->
      <div><%= ingredient %></div>
    <% end %>
  </div>
</div>
