<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<a href="/ingredients">
  <div class="landing">
    <img src="https://res.cloudinary.com/itnb-sarl/image/upload/v1663083098/production/homeemixed2_k8mh8w.jpg" alt="">
  </div>
</a>
<br>
