<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="landing" data-controller="home">
  <img src="https://res.cloudinary.com/itnb-sarl/image/upload/v1662542848/production/amy-vosters-iqCbAE9beeQ-unsplash_krfvgt.jpg" alt="">
</div>
