
  <h1 class="page-name">my assistant</h1>

  <div class="center-grid">

    <!-- my bar link html -->
    <a href="/user_ingredients" class="div-link">
      <div class="assistant-cards">
        <div>
          <i class="fa-solid fa-champagne-glasses fa-2xl"></i>
        </div>
        <div class="desc-container">
          <div>
            <p class="fix-margin">my bar</p>
          </div>
          <div class="description">
            <p>see all the ingredients you have saved</p>
          </div>
        </div>
      </div>
    </a>

    <!-- favorites link html -->
    <a href="favorites" class="div-link">
      <div class="assistant-cards">
        <div style="padding-left: 33px;">
          <i class="fa-solid fa-star fa-2xl"></i>
        </div>
        <div class="desc-container">
          <div>
            <p class="fix-margin">favorite cocktails</p>
          </div>
          <div class="description">
            <p>easy access to all of your favorite cocktails</p>
          </div>
        </div>
      </div>
    </a>

    <!-- tips link html-->
    <a href="/cocktails/tips" class="div-link">
      <div class="assistant-cards">
        <div style="padding-left: 13px;">
          <i class="fa-solid fa-glasses fa-2xl"></i>
        </div>
        <div class="desc-container">
          <div>
            <p class="fix-margin">tips</p>
          </div>
          <div class="description">
            <p>tips on some advanced mixology topics</p>
          </div>
        </div>
      </div>
    </a>
  </div>
