<h1 class="main-header">Assistant Page</h1>
  <div class="center-grid">
    <%= link_to "My Bar", "user_ingredients", class: "assistant-cards" %>
    <p class="assistant-cards">Favourite Cocktails</p >
    <p class="assistant-cards">My Notes</p>
    <p class="assistant-cards">Tips</p>
  </div>

<div>
  <%= render partial: "shared/long_card"%>
</div>
