<h1 class="main-header">assistant page</h1>
  <div class="center-grid">
    <p class="assistant-cards">my bar</p>
    <p class="assistant-cards">favourite cocktails</p >
    <p class="assistant-cards">my notes</p>
    <p class="assistant-cards">tips</p>
    <p class="assistant-cards">log out</p>
  </div>

<div>
  <%= render partial: "shared/long_card"%>
</div>
