.favorite-title {
  margin-left: 10px;
}

.favorite-cocktail-card {
  height: 375px !important;
  width: 365px !important;
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  display: flex;
  font-size: 22px !important;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
  background-size: cover;
  text-align: center;
  margin-bottom: 20px;
  align-items: flex-end;
  justify-content: center;
}

.fav-desc-container {
  background-color: #eeeeee4b;
  border-radius: 10px;
  width: 98%;
  height: 35%;
}

.fav-desc-container > a {
  text-decoration: none;
  color: black;
}

.fav-ingredients-grid {
  max-width: 350px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
}

.fav-ingredient-name {
  margin-bottom: 0px !important;
  background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(59, 82, 128, 0.781) 0px 1px 1px;
}

.fav-ingredient {
  background-image: linear-gradient(to right, rgba(160, 190, 248, 0.6), rgba(181, 240, 240, 0.6));
  border-radius: 50%;
  width: 95px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
