.favorite-title {
  margin-left: 10px;
}

.favorite-cocktail-card {
  height: 375px !important;
  width: 353px !important;
  border-radius: 20px;
  padding: 15px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px !important;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
  background-size: cover;
  text-align: center;
  margin-bottom: 20px;
}
