
// For headers such as "base spirits" on the home page.
.home-page-h2 {
    font-size: 32px;
    margin-left: 29px;
}

// used for titles IE index page "assisitant" title
.main-header {
    font-size: 45px;
    text-align: center;
    padding-top: 24px;
}