.index-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 36px;
    font-weight: 600 !important;
}

.boxword {
    background-image: linear-gradient(to right, rgba(160, 190, 248, .6) , rgba(181, 240, 240, .6));
            height: auto;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 5px;
            padding-bottom: 10px;
            margin-right: 10px;
            margin-left: 10px;
            border-radius: 10px;
            font-size: 37px;
            padding-left: 10px;
            padding-right: 10px;

}

.boxword-clear {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 30px;

}
