nav {
  height: 65px;
  overflow: scroll;
  background: #eaeaeabf;
  backdrop-filter: blur(10px);
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

nav ul {
  display: flex;
  height: 44px;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav a {
  display: block;
  color: rgba(132, 132, 132, 0.847);
  font-size: 15px;
  font-weight: lighter;
  text-decoration: none;
  transition: 0.3s;
}

nav a:active {
  color: linear-gradient(to right, rgba(160, 190, 248, .6) , rgba(181, 240, 240, .6));
}

nav a:hover {
  .next-button:hover {
    box-shadow: none;
    background-image: linear-gradient(to right, rgba(160, 190, 248, .9) , rgba(181, 240, 240, .9));
    text-decoration: none;
    color: #000000;

  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.badge {
  position: absolute;
  top: 5px;
  right: 25px;
  padding: 3px 4px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 0.5em;
}
