// changed the grid to fit our arrows better
.next-grid {
    display: grid;
    grid-template-columns: 213px 155px;
    grid-gap: 16px;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    margin-left: 43px;
}

.next-grid-ingredients {
    display: grid;
    grid-template-columns: 165px 160px;
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
    padding-top: 26px;
}

// the button for nexting
.next-button {
  border-radius: 10px 10px 10px 10px;
  background-image: linear-gradient(to right, rgba(160, 190, 248, 0.9), rgba(181, 240, 240, 0.9));
  border: 0;
  width: 60px;
  position: relative;
  left: 00px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  padding: 7px;
    // to right, #A0BEF8 , #B5F0F0
  }

  .next-button:hover {
    box-shadow: none;
    background-image: linear-gradient(to right, rgba(160, 190, 248, .9) , rgba(181, 240, 240, .9));
    text-decoration: none;
    color: #000000;

  }

  .next-button-invisible {
    height: 60px !important;
    width: 150px !important;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px !important;
    color: #ffffff;
    background-color: transparent;
    background-size: cover;
    text-align: center;
    text-decoration: none;
  }
