// changed the grid to fit our arrows better
.next-grid {
    display: grid;
    grid-template-columns: 213px 155px;
    grid-gap: 16px;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    margin-left: 43px;
}

.next-grid-ingredients {
    display: grid;
    grid-template-columns: 155px 155px;
    grid-gap: 35px;
    align-items: center;
    justify-content: center;
    padding-top: 26px;
}

// the button for nexting
.next-button {
    height: 60px !important;
    width: 70px !important;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px !important;
    color: #000000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: linear-gradient(to right, rgba(160, 190, 248, .6) , rgba(181, 240, 240, .6));
    background-size: cover;
    text-align: center;
    text-decoration: none;
    // to right, #A0BEF8 , #B5F0F0
  }

  .next-button:hover {
    box-shadow: none;
    background-image: linear-gradient(to right, rgba(160, 190, 248, .9) , rgba(181, 240, 240, .9));
    text-decoration: none;
    color: #000000;

  }

  .next-button-invisible {
    height: 60px !important;
    width: 150px !important;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px !important;
    color: #ffffff;
    background-color: transparent;
    background-size: cover;
    text-align: center;
    text-decoration: none;
  }
