
.ingredient_card {
    height: 60px !important;
    width: 375px !important;
    display: flex;
    align-items: center;
    font-size: 16px !important;
    color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: linear-gradient(to right, #A0BEF8 , #B5F0F0);
    border-radius: 20px;
    overflow: hidden;
}

.desc-container {
  flex-direction: column;
  margin-left: 30px;
}

.description {
  font-size: 12px;
  font-weight: lighter;
  color: gray;
}

/*
#fade-in {
  height: 150px;
  width: 1px;
  opacity: 0;
  transition: all .75s ease;
}

#fade-in.show {
  opacity: 1;
  height: 150px;
  width: 500px;
}
*/
