
.ingredient_card {
    height: 90px !important;
    width: 350px !important;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px !important;
    color: #000000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-style: solid;
    border-width: thin;
    margin-top: 12px;
    margin-bottom: 12px;
}