
.assistant-headings {
    padding-top: 24px;
    justify-content: center;
    align-self: auto;
    padding-left: 20px;
    padding-right: 24px;
    position: sticky;
    top: 0;
    background-color: #EEEEEE;
    z-index: 100;
}


.assistant-headings2 {
    padding-top: 24px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 24px;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
}

    .delete-this {
      top: -11px;
      right: -67px;
      position: relative;
      border-radius: 50%;
      color:  rgb(219, 47, 47);
    }
