.cocktail-cards {
    height: 220px !important;
    width: 150px !important;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px !important;
    color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

