// the grid for displaying spirits or similar cards
.spirit-grid {
    display: grid;
    grid-template-columns: 155px 155px;
    grid-gap: 16px;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    overflow: scroll;
}

// the card for spirits
.spirit-cards {
    height: 117px !important;
    width: 150px !important;
    border-radius: 20px;
    font-size: 24px !important;
    color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: black;
    background-size: cover;
    text-align: center;
  }

  .ing-text {
    margin: auto;
  }

  .remove-border {
    border: transparent !important;
    height: 117px !important;
    width: 150px !important;
    padding: 0 !important;
    border-radius: 20px;
  }

  // this will give our apirit image the look of a dark overlay
  .spirit-cards background-image {
    opacity: .6;
  }

  .selected-ingredient {
    background-color: red;
  }

//   // Smallest device
//   @media (min-width: 100px) and (max-width: 575px) {
//     .spirit-cards {
//       grid-template-columns: 1fr;
//     }
//   }

//   // Small devices (landscape phones, 576px and up)
//   @media (min-width: 576px) {
//     .spirit-cards {
//       grid-template-columns: 1fr;
//     }
//   }

//   // Medium devices (tablets, 768px and up)
//   @media (min-width: 768px) {
//     .spirit-cards {
//       grid-template-columns: 1fr 1fr;
//     }
//   }

//   // Large devices (desktops, 992px and up)
//   @media (min-width: 992px) {
//     .spirit-cards {
//       grid-template-columns: 1fr 1fr 1fr;
//     }
//   }

//   // Extra large devices (large desktops, 1200px and up)
//   @media (min-width: 1200px) {
//     .spirit-cards {
//       grid-template-columns: 1fr 1fr 1fr;
//     }
//   }
